
body{
    font-family: 'Poppins';
}


h1{
    font-family: 'Poppins';
}

.text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
}
.special{
    margin-top: -0.25rem !important;
   
    /* box-shadow: 0px 15px 10px -15px rgb(196, 25, 25); */
}
#border{

    box-shadow: 0px 10px 2px 4px rgba(148, 148, 148, 0.2);
}